bucket         = "euw1-zelda-link-tfstate-20260704"
key            = "networking/swag-ireland-vpc/terraform.tfstate"
region         = "eu-west-1"
dynamodb_table = "kratos-atreus-terraform-locks"
encrypt        = true
